@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 992px;
  }

  .faq {
    &__illustration {
      img {
        transform: translate(-20rem, 18rem);
        height: 35rem;
      }
    }
    &__shadow {
      img {
        transform: translate(-12rem, 5%);
        width: 50rem;
        left: 0;
        top: 50;
      }
    }

    &__box {
      display: block;
      transform: translate(-35rem, 0);
    }

    &__heading {
      text-align: left;
    }
  }
}
